@import "style.scss";

td, tbody {
    font-family: 'Roboto', sans-serif;
    background: white;
}

.mdl-layout__container{
    height: 25%;
    width: 25%;
}
.mdl-layout{
    overflow-x: unset;
    overflow-y: unset;
    width: 370px;
}

.mdl-checkbox {
    width: 30%;
}

.mdl-textfield {
    margin-left: auto;
    margin-right: auto;
}

.mdl-card{
    width: 370px;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

th {
    background-color: white;
}

.button {
    background: #f7786b;
    font-size: 0.75em;
}

.resize {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
    }
}

.card {
    color: red;

    header {
        padding: 0;
    }
    footer {
        padding: 0;
    }
}

.ad{
    transition:width 2s,height 2s,transform 2s;
    animation:1s ease-out 0s 1 pulse;
    width:20%;
    height:30%;
    display:inline-block;
    float:right
}
.ad:hover{
    transform:rotate(360deg);
    transition-duration:2s
}
.svg{
    animation:1s ease-out 0s 1 anim;
    animation-iteration-count:infinite;
    position:absolute;
    left:50%;
    margin-left:-5%;
    height:10%;
    width:10%;
    top:35%
}
@keyframes anim{
    0%{
        transform:translateY(-100%)
    }
    50%{
        transform:translateY(0%)
    }
    100%{
        transform:translateY(-100%)
    }
}
@keyframes pulse{
    0%{
        transform:translateX(-100%)
    }
    25%{
        transform:translateX(0%)
    }
    50%{
        transform:translateY(-100%)
    }
    100%{
        transform:translateY(0%)
    }
}

.header {
    background: rgb(65, 192, 235);
    p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer {
    background: rgb(65, 192, 235);
    p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


html {
    h1 {
        color: orange;
    }
    body {
        background: white;
    }
}

.menuInput:checked+.menuLabel {
    transform: translate(-23px, -3px) rotate(-90deg);
    transition: all .5s ease
}

.menuInput:checked ~ .topmenu {
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 980;
    transition: all .5s ease
}

.menuInput {
    display: none
}

.menuLabel {
    position: fixed;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 1.6em;
    color: #0B3E7A;
    font-size: 1.5em;
    text-align: left;
    padding: .5em;
    z-index: 999
}

.menuLabel img {
    height: 200%;
}

.topmenu {
    position: fixed;
    z-index: 980;
    padding: 0;
    margin: 0;
    right: -10em;
    list-style: none;
    transition: all .5s ease;
    background-color: rgba(255,255,255,0.9);
}

.topmenu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    padding: 1em 2em 0 2em;
    margin: 0;
    letter-spacing: 2px
}

.topmenu a:last-child {
    padding: 1em 2em
}

.logo {
    width:30%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
    display:inline-block
}

@media screen and (max-width: 48em) {
    .flex {
        display: inline-block;
    }
    .two>* {
        width: 100%;
    }
    .logo {
        height: 100%;
        width: 100%;
    }
    .menu {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    .topmenu {
        display: none;
    }
    .menuLabel {
        display: none
    }
}