
{% extends "homelayout.html" %}

{% block content %}

<h1>Popular Games that I've worked on</h1>

<img src = "https://upload.wikimedia.org/wikipedia/commons/e/ec/SCP_Foundation_%28emblem%29.svg" class = "logo">
<a href = "http://www.squeakyclean-services.co.uk/"><img src = "./ad.jpg" class = "ad"></img></a>
<img src = "./arrow.svg" class = "svg"></img>
<div class="flex two demo">

{% for post in posts %}

    <div>

        <article class="card resize">
            <header>
				<a href="posts/{{ post.slug }}.html">
					<img src="{{ post.thumbnail }}" href="posts/{{ post.slug }}.html">
				</a>
            </header>
        </article>

    </div>

{% endfor %}

</div>

{% endblock %}